.mainContent {
  background-color: whitesmoke;
}

.content {
  height: 70vh;
  background-color: white;
  border-radius: 25px;
  margin: 15px;
}

.footer {
  height: 5vh;
  background-color: #a4a6b3 !important;
}
