.headerRow {
  display: flex;
  align-items: baseline;
  padding: 10px;
}

.title {
  display: flex;
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.settings > div {
  margin-right: 20px;
  cursor: pointer;
  color: #444;
}

.settings > div:hover {
  color: #000;
}
.dropName {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #444 !important;
  border: none !important;
}

.teachers-main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50vh;
  padding: 0 !important;
}

.teachers-info-row {
  padding: 20px 30px 10px 5px;
}

.teachers-info-row > div {
  color: #999;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.teachers-row {
  display: flex;
  align-items: baseline;
  padding: 20px 10px 10px 0;
  border-bottom: 1px solid #ddd;
}

.teacher-pic {
  height: 10vh;
  width: 10vh;
  margin-right: 25px;
}
