.InformationBar {
  display: flex !important;
  align-items: baseline;
  padding: 20px;
  height: 15vh;
}

.CurrentTitle {
  display: flex !important;
}

.ProfileCard {
  display: flex !important;
  justify-content: flex-end;
}

.ProfileCard > div > a {
  font-weight: 600;
}

.avatar {
  margin-left: 25px;
  height: 10vh;
}
