.sidebar {
  background-color: #363740;
  height: 95vh;
  padding: 20px;
}

.LogoTitle {
  color: #a4a6b3;
  font-weight: 700;
  font-size: 1.25em;
  height: 20vh;
}

.Main {
  height: 50vh;
}

.MainMenu {
  background-color: rgba(0, 0, 0, 0) !important;
}

.MenuItem {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #a4a6b3 !important;
  font-size: 1.1em;
  display: flex !important;
  justify-content: baseline;
  align-items: center;
}

.MenuItem:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
  cursor: pointer;
  color: white !important;
}

.Active {
  background-color: rgba(256, 256, 256, 0.3) !important;
  color: #dde2ff !important;
}

.Active::before {
  content: "";
  height: 160%;
  width: 5px;
  position: relative;
  right: 15px;
  background-color: #dde2ff;
}

.MenuItemIcon {
  font-size: 1.5em;
  margin-right: 25px;
}

.Settings {
  margin-top: 20vh;
}
